<h2>Opis produktu:<br></h2>
Nazwa: <%= @product.nazwa %><br>
Cena: <%= @product.cena%><br>
Numer kategorii: <%= @product.category_id %><br>
Kategoria:  <%= @product.category.nazwa %>
<p><%= link_to "Wróć", root_path %></p>
