
Id użytkownika <%=@current_buyer.id%> <br>
Zamawiany przedmiot <%=@buy_item.id%>
Zamawiany przedmiot <%=@buy_item.opis%>
<h2>Podaj</h2> 
<%= form_for @current_buyer do |f| %>
  <%= f.label "Imie" %>:
  <%= f.text_field :first_name %><br />

  <%= f.label "Nazwisko" %>:
  <%= f.text_field :last_name %><br />


  <%= f.submit "Potwierdz tozsamosc" %>
<% end %>