<h2>Twój koszyk<br></h2>
Id użytkownika <%=@current_buyer.id%> <br>
Imie użytkownika <%=@current_buyer.first_name%> <br>
Nazwisko użytkownika <%=@current_buyer.last_name%> <br>
<br>
<% @current_buyer.orders.each do |orders| %>
Numer zamówienia = <%= orders.id %><br>
<% orders.order_items.each do |ordersitems| %>
		Id zamówionego produktu = <%= ordersitems.product_id %><br>
		<% @description = Product.find(ordersitems.product_id) %>
		Opis zamówienia <%= @description.opis %>
	<% end %>
	<hr>
<% end %>

<p><%= link_to "Wróć", root_path %></p>